<h5>You can walk across the entire world</h5>
<h5>Please choose a direction or stand</h5>
<div class="well" style="background-image: url('/images/world.jpg'); widht: 900px; height: 450px" >
	<form id="battle_form" action='/validation' method='post'>
		<input type='submit' class='btn' value='' style="margin-left: 400px; margin-top: -200px; background-image: url('/images/up.png'); width:50px; height:50px;">
		<input type='submit' class='btn' value='' style="background-image: url('/images/left.png'); margin-left: -450px; margin-top: 200px; width:50px; height:50px;">
		<input type='submit' class='btn' value='' style="background-image: url('/images/stand.png'); margin-left: 340px; margin-top: 200px; width:50px; height:50px;">
		<input type='submit' class='btn' value='' style="background-image: url('/images/right.png'); margin-left: 390px; margin-top: 200px; width:50px; height:50px;">
		<input type='submit' class='btn' value='' style="background-image: url('/images/down.png'); widht: 900px; height: 450px; margin-left: 400px; margin-top: 150px; width:50px; height:50px;">
	</form>
</div>
